/*VARIABLES*/

.light {
  --primary: #84b7da;
  --secondary: #1b2633;
  --auxiliar: #e5e9eb;
  --font: var(--secondary);
  #theme-toggle-light {
    display: block;
  }
  #theme-toggle-dark {
    display: none;
  }
  .footer-title > img {
    filter: none;
  }
  .footer-links > img {
    filter: invert(100%);
  }
}
.dark {
  --primary: #121422;
  --secondary: #1b1f33;
  --auxiliar: #2a3450;
  --font: white;
  background: #23283f;
  #theme-toggle-light {
    display: none;
  }
  #theme-toggle-dark {
    display: block;
  }
  .footer-title > img {
    filter: invert(100%);
  }
  .footer-links > img {
    filter: none;
  }
}


/*GENERAL STYLES*/

body {
  color: var(--font);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h1 {
  text-align: center;
}
a, button {
  color: var(--font);
  cursor: pointer;  
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}


/*NAVBAR STYLES*/

nav{
  background: var(--primary);
  width: 100%;
}
.nav-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .75rem 5rem;
}
.nav-content > p:first-of-type {
  font-size: 1.75rem;
  font-weight: 500;
  margin: 0;
}
.nav-links {
  align-items: center;
  display: flex;
}
.nav-links > a {
  margin-right: 3rem;
}
.nav-links > button {
  background: none;
  border: none;
}
.nav-links > button:hover {
  opacity: .5;
}
.nav-links > button > svg {
  width: 1.5rem;
}


/*CARD STYLES*/

.card-grid {
  column-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0 auto;
  row-gap: 2.5rem;
  width: 90vw;
}
.card {
  align-items: center;
  border: 0.5px solid rgb(136, 136, 136);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0 0.5rem;
  text-align: center;
  width: 200px;
}
.card:hover {
  border: 0.5px solid var(--font);
}
.card > img {
  width: 100%;
}
.card > p {
  margin: 0;
}
.card > p:first-of-type {
  margin: .5rem 0;
}
.card > p:nth-of-type(2) {
  font-size: 1.25rem;
  font-weight: bold;
}
.card-options {
  display: flex;
  gap: .5rem;
  margin: 1rem 0 .5rem;
  width: 100%;
}
.card-options a {
  background-color: rgba(136, 136, 136, 0.116);
  flex-grow: 1;
  padding: .5rem 1rem;
  text-align: center;
}
.card-options a:hover, .favButton:hover {
  background-color: rgba(136, 136, 136, 0.24);
  font-weight: normal;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  border: none;
  cursor: pointer;
  padding: 10px;
}
.favButton > svg {
  color: rgb(206, 98, 152);
  width: 1rem;
}


/*DETAIL STYLES*/
.card-detail {
  border: 0.5px solid rgb(136, 136, 136);
  margin: 0 auto;
  padding: 2rem 3rem;
  width: 40vw;
}
.card-detail > div + div {
  margin-top: 1.5rem;
}
.card-detail > div > p {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}
.card-detail > div > p:last-of-type {
  font-size: 1rem;
  font-weight: normal;
  margin-top: .5rem;
}


/*CONTACT STYLES*/
.contact-content {
  padding: .75rem 5rem;
}


/*FORM STYLES*/
.form-content {
  margin: 0 auto;
  padding: 2rem 0;
  width: 60%;
}
.form-item {
  padding: 1rem 0;
}
.form-item > label {
  display: block;
  padding: 0 0 1rem;
}
.form-item > input, .form-item > textarea {
  font-size: .9rem;
  padding: .75rem 1.25rem;
  width: calc(100% - 2.5rem);
}
.btn-submit {
  background-color: var(--primary);
  border: 0.5px solid rgba(136, 136, 136, 0.24);;
  display: block;
  font-weight: bold;
  margin-left: auto;
  margin-top: 1rem;
  padding: .75rem 1.5rem;
}
.btn-submit:hover {
  opacity: .7;
}
.error {
  border: 0.5px solid rgba(231, 36, 95, 0.5);
  color: rgb(231, 36, 94);
  padding: 1.5rem;
}
.success {
  border: 0.5px solid rgba(32, 141, 105, 0.5);
  color: rgb(32, 141, 105);
  padding: 1.5rem;
}


/*FOOTER STYLES*/
footer {
  background-color: var(--auxiliar);
  bottom: 0;
  margin-top: 5rem;
  position: relative;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: .75rem 5rem;
}
.footer-title, .footer-links {
  align-items: center;
  display: flex;
}
.footer-title > img {
  height: 30px;
}
.footer-title > p {
  margin: 0;
}
.footer-links > img {
  filter: invert(100%);
  cursor: pointer;
  height: 18px;
  margin-left: 1.25rem;
}
.footer-links > img:hover {
  opacity: .5;
}
